tests/fixtures/dify/research-bot.yml
app:
  description: Research assistant (test fixture; schema-faithful to Dify DSL exports)
  icon: "🔎"
  icon_background: "#FFEAD5"
  mode: advanced-chat
  name: Research Bot
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: true
    speech_to_text:
      enabled: false
    suggested_questions: []
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: knowledge-retrieval
        id: e1
        source: start-1
        sourceHandle: source
        target: kr-1
        targetHandle: target
        type: custom
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e2
        source: kr-1
        sourceHandle: source
        target: llm-1
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: if-else
        id: e3
        source: llm-1
        sourceHandle: source
        target: if-1
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e4
        source: if-1
        sourceHandle: "true"
        target: code-1
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: tool
        id: e5
        source: if-1
        sourceHandle: "false"
        target: tool-1
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: http-request
        id: e6
        source: code-1
        sourceHandle: source
        target: http-1
        targetHandle: target
        type: custom
      - data:
          sourceType: http-request
          targetType: answer
        id: e7
        source: http-1
        sourceHandle: source
        target: answer-1
        targetHandle: target
        type: custom
      - data:
          sourceType: tool
          targetType: answer
        id: e8
        source: tool-1
        sourceHandle: source
        target: answer-1
        targetHandle: target
        type: custom
    nodes:
      - data:
          desc: ""
          selected: false
          title: Start
          type: start
          variables: []
        height: 54
        id: start-1
        position: { x: 30, y: 200 }
        positionAbsolute: { x: 30, y: 200 }
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          dataset_ids:
            - internal-kb-0001
          desc: ""
          query_variable_selector:
            - start-1
            - sys.query
          retrieval_mode: multiple
          selected: false
          title: Internal Knowledge
          type: knowledge-retrieval
        height: 92
        id: kr-1
        position: { x: 320, y: 200 }
        type: custom
        width: 244
      - data:
          context:
            enabled: true
            variable_selector:
              - kr-1
              - result
          desc: ""
          model:
            completion_params:
              temperature: 0.7
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
